[Desktop Entry]
Name=captain-ballard
GenericName=Watches your .git directories periodically and reports the latest changes.
Comment=Watches your .git directories periodically and reports the latest changes.
Exec=captain-ballard
Icon=captain-ballard
Terminal=false
Type=Application
Keywords=Utility;
Categories=Utility;GTK;
